<html>
    <head>
        <title>My scratchboard page</title>
    </head>

    <body>

        <div>
            {% for comment in comments %}
                <div class="row">
                    {{ comment }}
                </div>
            {% endfor %}
        </div>

        <div>
            <form action="." method="POST">
                <textarea name="contents" placeholder="Enter a comment"></textarea>
                <input type="submit" value="Post comment">
            </form>
        </div>

    </body>
</html>