<html>
<head>
	{% if title %}
	<title>{{ title }} - Pet Site</title>
	{% else %}
	<title>Pet Site</title>
	{% endif %}
</head>

<body>
	<div>
	<a href="{{ url_for('index') }}">Home</a>
	{% if current_user.is_anonymous %}
	<a href="{{ url_for('login') }}">Login</a>
	{% else %}
	<a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
	<a href="{{ url_for('logout') }}">Logout</a>
	<a href="{{ url_for('cave') }}">Cave</a>
	<a href="{{ url_for('map') }}">Map</a>
	<a href="{{ url_for('forum') }}">Forums</a>
	<a href="{{ url_for('itemshop') }}">Shop</a>
	{% endif %}
	</div>
	<hr>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	{% block content %}{% endblock %}
</body>
</html>